body{

}

.container{

	margin: 0px;
	width: 100%;
	background: rgb(237, 200, 60);
}

#intro-section .jumbotron{

	border-radius: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	/*background: rgb(237, 200, 60); */ 
	/*background-image: url("imdb-bck.jpg");
	/*background: rgb(237, 85, 17);*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(../img/imdb-bck.jpg);
	color: white;
}

#intro-section .vertical-center > .title{

	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 900;
}

#intro-section .vertical-center > .subtitle{

	font-size: 25px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}


#intro-section .jumbotron .btnl{

	margin-top: 15px;
	width: 200px;
	border-radius: 2px;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 1);
	border-color: white;
	/*background: rgb(237, 200, 60);*/
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
}

#intro-section .jumbotron .btn-howto{

	background: transparent;
	border-width: 1;
}

#intro-section .input-group input{

	font-family: 'Lato', sans-serif;
	font-weight: 400;

	border-radius: 2px;
}

#intro-section .input-group button{

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: black;
	
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

}

#intro-section .jumbotron .share{

	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 20px;

}

#intro-section .jumbotron .share-img{

	width: 8%;
}

#intro-section hr{

	width: 40%;

}

.vertical-center{

	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.vertical-down{

	position: relative;
	margin-top: 55%;
	transform: translateY(-50%);

}

#typeform .typeform-widget{

	height: 100%;
}

.content-newsletter{

	background: rgba(255, 255, 255, 0.7)
}




