

.container{

	margin: 0px;
	width: 100%;
	background: rgb(237, 200, 60);

}

#intro-section .jumbotron{

	border-radius: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgb(237, 200, 60);
	/*background: rgb(237, 85, 17);*/
	color: white;
}

#intro-section .vertical-center > .title{

	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	font-weight: 900;
}

#intro-section .vertical-center > .subtitle{

	font-size: 25px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}


#intro-section .jumbotron .btn{

	margin-top: 15px;
	width: 200px;
	border-radius: 3px;
	border-width: 1px;
	background-color: rgb(237, 85, 17);
	border-color: black;
	/*background: rgb(237, 200, 60);*/
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: white;
}

#intro-section .jumbotron .btn-howto{

	background: transparent;
	border-width: 1;
}

#intro-section .jumbotron .share{

	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 20px;

}

#intro-section .jumbotron .share-img{

	width: 8%;
}

#intro-section hr{

	width: 40%;

}

.vertical-center{

	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.vertical-down{

	position: relative;
	margin-top: 55%;
	transform: translateY(-50%);

}

#typeform .typeform-widget{

	height: 100%;
}





